body{
	margin: 15px;
	font-family: Helvetica;
	font-size: 14px;
	color: black;
	text-align: center;
}

div.div1{
	background-color: #e6ffff;
	position: relative;
	border: 1px solid black;
	border-radius: 360px;
	margin: 25px;
	padding: 25px;
	width: 60%;
	left: 250px;
	opacity: 0.8	;
    filter: alpha(opacity=60);/* edw gia na to kanw diafanes h 2nd line for Ie8 and earlier*/
		}
		
a{
	color: purple;
	text-align: center;
	text-decoration: underline;
	
}

div.div2{
	background-color: #c0c0c0;
	position: relative;
	border: 1px solid black;
	border-radius: 30px;
	margin: 5px;
	padding: 5px;
	width: 50%;
	left: 350px;
	
}

table, th, td{
	width: 100%;
	padding: 12px 16px;
	text-align: center;
	
	
}